html,
body {
  background-color: black;
}

.white {
  color: white;
}

#action-buttons {
  right: 0;
  position: absolute;
}

.inline {
  display: inline-block;
}

.absolute {
  position: absolute;
}

.h200 {
  height: 200px;
}

.mw800 {
  max-width: 800px;
}

.no-gutters {
  padding: 0;
  margin-bottom: 0px !important;
  margin: 0px !important;
}
