html,
body {
  background-color: black;
}

.white {
  color: white;
}

#action-buttons {
  right: 0;
  position: absolute;
  z-index: 200;
}

.inline {
  display: inline-block;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.absolute {
  position: absolute;
}

.pointer {
  cursor: pointer;
}

.h200 {
  height: 200px;
}

.mw800 {
  max-width: 800px;
}

.no-gutters {
  padding: 0;
  margin-bottom: 0px !important;
  margin: 0px !important;
}

.put-behind {
  z-index: 0;
}

.fullscreen {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.cursor {
  stroke-width: 2;
}

.cursor:hover {
  transform: scale(2);
  transition: 200ms ease-in-out;
}
